@import url(http://fonts.googleapis.com/css?family=Roboto:300);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,500);
/*
* styles.css
* connor nielsen
* 12-16-2013
* construxit.com 
*/

/*================|RESETS|==================*/
html,body {
	margin: 0;
	padding: 0;
}
ol,ul {
	list-style: none;
}
h1,h2,h3,h4,h5,h6,a,p,blockquotepre,code,img,small,strike,sub,sup,tt,dd,dl,dt,li,ol,ul,fieldset,form,label,legend,caption{
	margin: 0;
	padding: 0;
	border: 0;
	font-weight: normal;
	font-style: normal;
	font-size: 16px;
	line-height: 1;
	font-family: inherit;
	text-align: left;
}

/*================|FONT FACES|==================*/
@font-face{
}

/*================|BODY / WRAP|==================*/
body{
/*text-shadow: 0 0 1px rgba(0,0,0,0.2);*/
margin:0;
padding:0;
font-family: 'Source Sans Pro', sans-serif;
font-weight:500;
font-size:18px;
	color:#fff;
overflow-y:scroll;
overflow-x:hidden;
width:100%;
background:#111;
margin-top:100px;
}

.wrap{
	margin:0 auto;
	min-height:300px;
	float:left;
	background:#111;
	width:100%;
}
.toolbar .wrap{
}
.shell{
max-width:960px;
margin:0 auto;
padding:0 30px;
}
.wrap .shell{
padding-bottom:20px;
}

/*================|LINKS|===================*/
a,a:link,a:visited,a:hover,a:active {
	color: #00A9BE;
	text-decoration: none;
	outline: 0;
	line-height: inherit;
}

a:hover {
	color: #eee;
}

h1 a,h2 a,h3 a {
	color: #fff;
	text-decoration: none;
	font-weight: bold;
}

h4 a,h5 a {
	text-decoration: none;
	line-height: inherit;
	font-weight: bold;
}

h4 a:hover,h5 a:hover {
	text-decoration: underline;
}

p a {
	line-height: inherit;
}

/*================|FONT STACK|==================*/
h1,h2,h3,h4,h5,h6 {
	color: #fff;
	letter-spacing: 0;
	font-weight: normal;
}

h1 {
	font-size: 3em;
	line-height: 1em;
	padding:20px 0;
	text-align:left;
}
.front h1{
padding-top:0px;
}
h2{
	font-size: 3em;
	line-height: 1;
	margin: 0;
	letter-spacing:1px;
}
h2, .anchor{
padding-top:120px;
border-bottom:#00A9BE 2px solid;
margin-bottom:15px;
padding-bottom:5px;
}
.front h2{
border:0;
font-size:2em;
padding-top:0px;
border-bottom: #00A9BE 2px solid;

}
h3 {
font-size: 1.4em;
line-height: 30px;
letter-spacing: 1px;
color: #fff;
text-transform: uppercase;
width:100%;
border-bottom:1px solid #555;
margin-bottom:10px;
}

h4 {
	font-size: 16px;
	margin-bottom:5px;
	text-transform:uppercase;
	font-weight:bold;
	letter-spacing:1px;
	font-size:14px;
	margin-top:5px;
	color:#ccc;
}

h5 {
	font-size: 32px;
	line-height: 1;
	text-transform: uppercase;
}

h6 {
	font-size: 1.6em;
	text-transform: uppercase;
	padding-left:10px;
	padding-top:10px;
	padding-bottom:9px;
	margin-bottom:10px;

}
red{
	color: #ED1C24;
}

/*================|PARAGRAPH|==================*/
p {
	font-size: 1em;
	line-height: 1.2em;
	margin: 0 0 18px;
	color:#fff;
}

p img {
	margin: 0;
}

/*================|HEADER|==================*/
.pre-header{
margin-bottom: 100px;
height:44px;
border-bottom:#eee 1px solid;
}
.pre-header ul{
float:left;
}
.pre-header ul.rr{
float:right;
}

.pre-header ul li{
	font-size:0.8em;
	color:#555;
	line-height:44px;
}
.wrap .shell div.sponsors{
	text-align:center;
	padding-top:40px;
	padding-bottom:40px;
}

.header{
width: 100%;
height:100px;
background-color: white;
/*border-bottom: solid 3px #9FBF2A;*/
position: fixed;
top: 0px;
z-index: 800;
}

.abovecontent{
}
.abovecontent p{
margin:0;
padding:0;
}
.abovecontent #codepic{
width:100%;
height:auto;
}
.abovecontent .codepic-outer{
height:400px;
overflow:hidden;

}
.abovecontent.stick .shell img{
	display:none; 
}

.abovecontent .shell ul{ 
float:right; margin-top:20px;
}
.abovecontent.stick .ul{
float:right;
width:100%;
}
.abovecontent.stick .hmenu{
position:fixed;
width:100%;
max-width:960px;
padding-top:20px;
top:80px;
}
.abovecontent.stick .shell ul li{
display:inline;

}
.abovecontent.stick .shell ul li a{
font-size:1em;
padding:10px;
background:#00A9BE;
margin-left:2px;
color:#fff;
}
.abovecontent .shell ul li a{
color:#fff;
font-size:1.4em;	
font-weight:bold;
}
.header.open{
height:300px;
}
.header.open #mobilemenu{
display:block;
}
.toolbar .header{
top:60px;
}
.subheader{
	min-height:70px;
	background-image: url(rockywall.png);
	background-image: url(dark_stripes.png);
	background-image: url(light_noise_diagonal.png);
	background-image: url(extra_clean_paper.png);
	background-image: url(mochaGrunge.png);
	background-image: url(bg.jpg);
}
.subheader h1{
color:#666;
font-size:2em;
text-transform:uppercase;
margin:0;
padding:0;
padding:20px 0;
float:left;
letter-spacing:4px;
font-family: 'Source Sans Pro', sans-serif;
}
/*================|CONTENT|==================*/
.content{


}
.hero-total{
min-height:500px;
}
.hero-overlay{
position:absolute;
z-index:100;
width:100%;
height:500px;
background:rgba(0,0,0,0.5);
}
.hero{
min-height:400px;
width:100%;
}
.hero .hero-image{
width:100%;
min-height:500px;
}
.hero .hero-inner{
position:absolute;
width:100%;
margin:0 auto;
z-index:200;
}

.hero .hero-inner h1{
font-size:2.4em;
color:#fff;
font-weight:200;
margin:0;
padding:0 5%;
margin-top:300px;
/*text-shadow: 0 0 1px rgba(255,255,255,0.3);*/
}
.hero .hero-inner img{
	width:70px;
	height:70px;
	margin:0 auto;
	margin-top:40px;
	z-index:1000;
-webkit-transition: opacity .2s linear;
-moz-transition: opacity .2s linear;
-o-transition: opacity .2s linear;
-ms-transition: opacity .2s linear;
transition: opacity .2s linear;

}
.hero .hero-inner img:hover{
	cursor:pointer;
	opacity:0.5;
-webkit-transition: opacity .2s linear;
-moz-transition: opacity .2s linear;
-o-transition: opacity .2s linear;
-ms-transition: opacity .2s linear;
transition: opacity .2s linear;

}
.logo-wrap{
position:absolute;
top:45px;
height:100px;
background:#fff;
width:100%;
z-index:900;
-webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
-moz-box-shadow:    0px 2px 2px rgba(0, 0, 0, 0.2);
box-shadow:         0px 2px 2px rgba(0, 0, 0, 0.2);
}
.logo-wrap.sticky{
	top:0px;
	opacity:1;
	position:fixed;
-webkit-transition: opacity .1s linear;
-moz-transition: opacity .1s linear;
-o-transition: opacity .1s linear;
-ms-transition: opacity .1s linear;
transition: opacity .1s linear;

}
.toolbar .logo-wrap{
margin-top:65px;
}
.toolbar .logo-wrap.sticky{
margin-top:65px;
}
.logo{
max-width: 375px;
padding-top:27px;
float:left;
}
.logo img{
height: auto;
width: 100%;
}


.hero-rotator{
height:400px;
width:960px;
margin-top:100px;
overflow:hidden;
}


/*============| MENU |=============*/
#main-menu{
float:right;
}

#main-menu .menu{
float:right;
}
#main-menu .menu li{
	line-height:90px;
	border-top:#fff 4px solid;
	float:left;
	margin-left:20px;
}
#main-menu .menu li.active{
/*border-top:#1564ac 4px solid;*/
}
#main-menu .menu li a:link,
#main-menu .menu li a:visited{
color:#333;
}
#main-menu .menu li.active:hover,
#main-menu .menu li:hover{
/*
border-top:#1564ac 4px solid;*/
color:#9FBF2A;
-webkit-transition: color .4s linear;
-moz-transition: color .4s linear;
-o-transition: color .4s linear;
-ms-transition: color .4s linear;
transition: color .4s linear;
}

.coll{
width:30%;
margin:0 auto;
float:left;
margin-right:5%;
}
.coll:last-child{
margin-right:0;
}
.coll h2{
	font-size:2em;
	border-bottom:#eee solid 1px;
	margin-bottom:4px;
}
/*
.coll-r{
float:right;
margin-left:2%;
}
.coll-l{
float:left;
margin-right:2%;
}
*/



/*===========|FOOTER|==============*/
.footer{
height:300px;
background:#1F1F1F;
padding-top:50px;
padding-bottom:20px;
float:left;
width:100%;
}
.footer-left{
width:560px;
}
.footer-right{
width:400px;
float:right;
text-align:right;
}
.footer-right img{
width:100px;
height:auto;
}
.footer ul.menu{
list-style:none;
margin:0;
padding:0;
}
.footer ul.menu li{
margin:0;
list-style-type: none;
list-style-image: none;
}
.footer ul.menu li a:link,
.footer ul.menu li a:visited{
	
}
.footer ul.menu li a:hover{
color:#1564ac;
color:#fff;
}


.proj-box{
width: 33%;
float: left;
height: 220px;
overflow: hidden;
}
.proj-box img{
width:100%;
height:auto;
}
.proj-box .proj-inner a:link,
.proj-box .proj-inner a:visited{
color:#fff;
position:absolute;
padding:20px;
background:rgba(0,0,0,0.8);
font-family:
}
.proj-box .proj-inner{
float:left;
z-index:2;
width:100%;
height:
}


#toolbar{
z-index:1000;
}

.imgRight{
width:100%;
position:absolute;
z-index:-100;
}
.teach{
color:#fff;
z-index:100;
position:relative;
height:65px;
padding-bottom:1%;
}
.teach h4{
color:#fff;
font-size:1.3em;
}
.teach img{
max-width:64px;
float:left;

}
.teach-about{
padding-top:4px;
}
.front .wrap{
	background:0;
	margin-bottom:100px;
}

.front .wrap .shell .content h1{
color:#fff;
z-index:100;
position:relative;

}
.front .wrap .shell .content p{
z-index:100;
position:relative;
color:#fff;
}
.front .wrap .shell .content{
padding-top:6%;
}
.tricon{
float:right;
display:none;
}
.tricon img{
width:24px;
height:auto;
}
.team{
border-radius: 200px;
height: 200px !important;
width: 200px !important;
margin: 0px 50px 50px 0px;
}

.view-hq .views-row{
margin-bottom:20px;
margin-bottom:40px;
padding:20px;
background:#333;
width:28%;
min-width:220px;
float:left;
margin-right:10px;
}
.view-hq .views-row:nth-child(3n+0){
	margin-right:0px;
}
.view-hq .views-row:nth-child(4n+0){
	clear:both;
}
.hq-row{
}
.hq-row h6{
	text-transform:none;
	margin:0;
	padding:0;
	padding-bottom: 20px;
}
.hq-row h6 a{
	padding:0;
	clear:both;
	font-size:1em;
	line-height:1em;
	font-weight:600;
}
.hq-row-header{
margin-bottom:20px;
}
.hq-row .dateTag{
float:right;
font-size: 0.7em;
line-height: 2.2em;
}
.hq-row .dateTag span{
line-height: 1.6em;
}
.hq-row .projectTag{
	padding:0 5px;
	display:block;
	text-transform:uppercase;
	line-height:1.6em;
}
.hq-row .projectTag a{
}
.hq-row .hq-body{
padding-bottom:10px;
font-size:0.8em;
line-height:1.2em;
}
.hq-row .hq-footer{
text-align:right;

}
.hq-row .hq-footer img{
opacity:0.5;
-webkit-transition: opacity .2s linear;
-moz-transition: opacity .2s linear;
-o-transition: opacity .2s linear;
-ms-transition: opacity .2s linear;
transition: opacity .2s linear;

}
.hq-row .hq-footer img:hover{
opacity:1;
-webkit-transition: opacity .2s linear;
-moz-transition: opacity .2s linear;
-o-transition: opacity .2s linear;
-ms-transition: opacity .2s linear;
transition: opacity .2s linear;

}

.project-page .hq-row-header .projectTag {
	padding:0 10px;
        display:block;
        text-transform:uppercase;
	line-height:1.8em;
	font-size:1.8em;
}
#hackathon-outer{
float:right;
margin-left:40px;
background:rgba(0,0,0,0.9);
position:relative;
z-index:200;
}
#hackathon-outer p{
	padding:20px;
}
#hackathon-outer h3 {
margin-bottom:20px;
border:0;
}
#hackathon-outer h3 a{
color:#fff;
margin-left:20px;
padding:10px;
background-color:#02a8be;
}

#hackathon{
	font-size:1.2em;
	color:#fff;
	text-transform:uppercase;
	background:rgba(255,255,255,0.2);
	padding:20px;
}
.pagetimer{
	margin-top:20px;
	font-size:2em !important;
	font-weight:800;
}
#mobilemenu{
background:#333;
position:fixed;
right:0px;
top:0px;
min-width:300px;
min-height:200px;
margin-right:-300px;
padding-top:5px;
padding-bottom:20px;
z-index:1000;
}

#mobilemenu ul li{
width:100%;
font-size:2em;
}
#mobilemenu ul li a{
color: #fff;
padding: 10px 20px;
width: 100%;
float: left;
font-size: 1em;
}
.closebutton{
        color:#fff;
        font-size:1.2em;
        float:right;
        padding:10px 20px;
        background:#555;
}


.transf{
-webkit-transition: all 300ms linear; 
   -moz-transition: all 300ms linear; 
     -o-transition: all 300ms linear; 
        transition: all 300ms linear;
}
.submitted{
	font-size:0.8em;
	padding:10px 0px;
}

ul.primary li a{
background-color:#555;

}
table, tr, td, tbody{
border:0;
border-spacing:2px;

}
table{
border-collapse:separate;
}
td{
background:#333;
margin:10px;
padding:10px;
}
.person{
clear:both;

}
.judgebadge{
display: inline;
float: right;
font-size: 16px;
letter-spacing: 2px;
color: #00A9BE;
border: #444 1px dotted;
border-left: 0;
border-bottom: 0;
padding: 0 10px;
}
.graybg{
background: rgba(0,0,0,0.8);
}
.gray5{
background:#555;
}

.pad-10{
padding:10px;
}
.pad-20{
padding:20px;
}
.flr{
float:right;
}
.fll{
float:left;
}
